<div class="container">
    <h2>Carrito de Compras</h2>
    <div class="row">
        @for (item of cartItems; track $index) {
            <div class="col-12 mt-3">
                <div class="card h-100">
                    <img [src]="item.image" class="card-img-top" [alt]="item.title">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <p class="card-text">Precio: ${{ item.price }} USD</p>
                        <button type="button" class="btn btn-danger" (click)="removeItem($index)">Eliminar</button>
                    </div>
                </div>
            </div>
        }
    </div>
    <h3 class="mt-3">Total: ${{ total }} USD</h3>
   <button type="button" class="btn btn-danger" (click)="cartService.clearCart()">Limpiar Carrito</button> <!--NO APARECE EL BOTÓN, INTENTÉ DE TODO Y NO LO LOGRE HACER APARECER xd -->
    
    

    <!-- Toast -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" [class.show]="showToast">
            <div class="toast-header">
                <strong class="me-auto">Carrito</strong>
                <small>Justo ahora</small>
                <button type="button" class="btn-close" (click)="showToast = false" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Producto añadido al carrito.
            </div>
        </div>
    </div>
</div>
